<p>Demo of SVG lines</p>
<div class="svg-container">
  <app-box1 [title]="'instance A'" [top]="100"></app-box1>
  <app-box1 [title]="'instance B'" [top]="200" [left]="50"></app-box1>
  <app-box1 [title]="'instance C'" [top]="300" [left]="100"></app-box1>
  <app-box1 [title]="'upper box'" [top]="50" [left]="500"></app-box1>
  <app-box1 [title]="'lower box'" [top]="400" [left]="500"></app-box1>

  <svg:svg xmlns:svg="http://www.w3.org/2000/svg"
           [attr.viewbox]="'0 0 ' + innerWidth + ' ' + innerHeight"
           [attr.width]="innerWidth"
           [attr.height]="innerHeight">
    <svg:g app-joiner [title]="'upper-a'" [startX]="500" [startY]="75" [endX]="315" [endY]="150"></svg:g>
    <svg:g app-joiner [title]="'upper-b'" [startX]="500" [startY]="75" [endX]="355" [endY]="250"></svg:g>
    <svg:g app-joiner [title]="'upper-c'" [startX]="500" [startY]="75" [endX]="405" [endY]="350"
           [color]="'#00ff00'"></svg:g>

    <svg:g app-joiner [dash]="'4 2'" [title]="'lower-a'" [startX]="500" [startY]="450" [endX]="410" [endY]="350"
           [color]="'#ff0000'"></svg:g>
  </svg:svg>
</div>
